<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>模板插值</title>
  <style type="text/css">
    #h1 {
      color: red;
    }
    .h1 {
      color:blue
    }
  </style>
</head>
<body>
<div id="Application"  style="display: inline-block;">
<!-- 1. 数据绑定操作-->
  <h1 v-bind:id="id1">这里是模板的内容:{{count}}次点击</h1>
  <h1 v-once>这里是模板的内容:(直接使用变量将无法解析){{countHTML}}次点击</h1>
  <h1 v-bind:id="id1">这里是模板的内容(使用v-html进行数据绑定，可以正常解析）:<span v-html="countHTML"></span>次点击</h1>
  <h1 v-once>这里是模板的内容(只加载一次，后续不变动):{{count}}次点击</h1>
  <h1 v-bind:id="id1">这里是模板的内容(只加载一次，后续不变动):{{count+10}}次点击</h1>
  <!-- 数据  -->
  <button v-on:click="clickButton">按钮</button>
  <br>
  <button @click="clickButton">使用v-on缩写：按钮</button>
<!--  使用动态方式切换属性-->
  <h1 v-bind:[prop]="name" v-if="show">标题</h1>
  <h1 :[prop]="name" v-if="show">使用v-bind缩写: 标题</h1>

<!--  通过Vue的指令修饰符，去掉首尾空格符的功能： 失去焦点时， Vue会自动帮我们去掉这些首尾空格-->
  <div> <input v-model.trim="content">&nbsp;&nbsp;&nbsp;&nbsp;失去焦点时， Vue会自动帮我们去掉这些首尾空格</div>

</div>
<script>
  const App = {
    data () {
      return {
        // 将样式绑定到标签上
        id1:"h1",
        count:0,
        countHTML:"<span style='color:red;'>0</span>",
        show:true,
        // prop:"id",//通过指定prop是id还是class 来控制选择哪种样式
        prop:"class",
        name:"h1"
      }
    },
    methods:{
      clickButton(){
        this.count = this.count+1 ,
        //   HTML中可以通过拼接表达式的方式，对变量进行累加计算
        this.countHTML = "<span style='color:red;'>"+this.count+"</span>"
      }
    }

  }
  // 将Vue组件绑定到页面上id为Application的元素上
  Vue.createApp(App).mount("#Application")
</script>
</body>
</html>
